DT_TENANT_URL=https://abc12345.live.dynatrace.com
DT_API_TOKEN=dt0c01.example
DT_DATA_INGEST_TOKEN=
K8S_CLUSTER_NAME=nebulatrace-demo
OTEL_RESOURCE_ATTRIBUTES=deployment.release_stage=demo,primary_tags.env=demo,deployment.release_version=0.1.0,primary_tags.version=0.1.0,primary_tags.app=nebulatrace,k8s.namespace.label.team=service-monitoring
ACTIVEGATE_IMAGE=docker.io/dynatrace/dynatrace-activegate:1.339.39.20260605-153224
LOGMONITORING_IMAGE_REPOSITORY=public.ecr.aws/dynatrace/dynatrace-logmodule
LOGMONITORING_IMAGE_TAG=1.339.51.20260603-143443
OTEL_COLLECTOR_IMAGE_REPOSITORY=public.ecr.aws/dynatrace/dynatrace-otel-collector
OTEL_COLLECTOR_IMAGE_TAG=latest
LOADGEN_DELAY_MS=750
LOADGEN_BURST=1
FAAS_TRIGGER_DELAY_MS=5000
RPC_PROBE_DELAY_MS=2500
IMAGE_REGISTRY=ghcr.io/tristanmarl/nebulatrace
IMAGE_TAG=latest
