DT_TENANT_URL=https://abc12345.live.dynatrace.com
DT_API_TOKEN=dt0c01.example
DT_DATA_INGEST_TOKEN=
K8S_CLUSTER_NAME=nebulatrace-demo
ACTIVEGATE_IMAGE=docker.io/dynatrace/dynatrace-activegate:1.339.39.20260605-153224
LOGMONITORING_IMAGE_REPOSITORY=public.ecr.aws/dynatrace/dynatrace-logmodule
LOGMONITORING_IMAGE_TAG=1.339.51.20260603-143443
LOADGEN_DELAY_MS=750
LOADGEN_BURST=1
IMAGE_REGISTRY=ghcr.io/tristanmarl/nebulatrace
IMAGE_TAG=latest
