fastapi==0.116.1
uvicorn[standard]==0.35.0
psycopg[binary]==3.2.9
stomp.py==8.2.0
opentelemetry-api==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-exporter-otlp==1.35.0
opentelemetry-instrumentation-fastapi==0.56b0
